<div class="center">
<%= form_for @work do |f| %>

    <%= f.label :worker, "従業員" %>
    <%= f.select :worker, ["前島","内田","山口"], :prompt => "選択してください" %><br><br>

    <%= f.label :wwage, "仕事場所" %>
    <%= f.select :wage, [["内",2500],["外","3800"]], :prompt => "選択してください" %><br><br>

    <%= f.label :working_hour,"就労時間" %>
    <%= f.number_field :working_hour %>時間<br><br>

    <%= f.label :day,"日付" %>
    <%= f.date_select :day %><br><br>
    
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
    <% if @work.id.nil? %>
        <%= f.submit "追加" %>
    <% else %>
        <%= f.submit "修正" %>
    <% end %>
<% end %>
</div>