<% if @error.nil? %>
<% @projects.each do |project|%>
<div class="card">
        <h1 class="head"><%= project.project_name %></h1>
        <br>
        <table class="table-index">
            <tr>
                <th>顧客先</th><td><%= project.customer_name %></td>
            </tr>
            <tr>
                <th>納入先</th><td><%= project.delivery_destination %></td>
            </tr>
            <tr>
                <th>作成日</th><td><%= project.day %></td>
            </tr>
        </table>
        <div class="right-shosai"><%=link_to "詳細", project_url(project.id), class:"btn-flat-border"%></div>
</div>
<%end%>
<% else %>
<%= @error %>
<% end %>
</div>