<%=link_to "←", project_url(@project.id), class: "btn-back" %>
<h1 class="midashi">外注費一覧</h1>
<%=link_to "外注費追加", new_subcon_url(:project_id => @project.id), class: "add-btn"%>

<table align="center" class="table-blue-subcon">
    <tr>
        <th>外注先</th><th>外注費</th><th>日付</th><th>変更</th><th>削除</th>
    </tr>
<% @subcons.each do |subcon|%>
    <tr>
        <td><%= subcon.subcon_name%></td>
        <td><%= subcon.subcon_cost %>円</td>
        <td><%=subcon.day%></td>
        <td><%=link_to "編集", edit_subcon_url(subcon.id,:project_id => @project.id), class: "simple_square_subcon"%></td>
        <td><%=link_to "削除", delete_subcon_path(subcon.id), method: :delete, class: "simple_square_subcon"%></td>
    </tr>
<% end %>
</table>

