
<div class="mx-auto" style="width: 500px;">
<% @projects.each do |project|%>
<div class="mx-auto">
    <div class="card", style="max-width: 25rem;">
      <h4 class="card-header" style="text-align:center"><%= project.project_name %></h4>
        <div class="card-body">
          <div class="card-text">顧客名:<%= project.customer_name %></div>
          <div class="card-text">納入先:<%= project.delivery_destination %></div>
          <div class="card-text">作成日:<%= project.day %></div>
          <div  style="text-align:right"><%=link_to "詳細", project_url(project.id),class: "btn btn-outline-primary"%></div>
        </div>
  </div>


</div>
<%end%>

<br>
<%= link_to "プロジェクト作成", {controller: :projects, action: :new}%>

