<style>
/* タブ　タイトル枠　2 */
.kakomi-tab2 {
 position: relative;
 margin: 3em auto;
 padding: 1.2em 1em 1em;
 width: 90%;
 background-color: #fff; /*BOX背景色 */
 border: 2px solid #8d93c8; /* 枠線の太さ・色 */
 box-shadow: 2px 2px 2px #ccc; /* 影の色 */
}
.title-tab2 {
 position: absolute;
 display: inline-block;
 top: -28px; /*タブ調整 */
 left: -2px; /*タブ調整 */
 padding: 1px 10px;
 height: 26px;
 font-weight: bold;
 color: #fff; /* タイトル色 */
 background-color: #8d93c8; /* タイトル背景色 */
 border-radius: 8px 8px 0 0;
}
.kakomi-box3 {
 margin: 2em auto;
 padding: 1em;
 width: 90%;
 border: 1px solid #ccc; /* 枠線 */
 background-color: #fff; /* 背景色 */
 box-shadow: 1px 1px 2px #ccc;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        <br>
            <table class="table table-striped table-bordered">
            <tr>
                <th>プロジェクト名</th><td><%=@project.project_name%></td>
            </tr>
            <tr>
                <th>顧客先</th><td><%=@project.customer_name%></td>
            </tr>
            <tr>
                <th>納入先</th><td><%=@project.delivery_destination%></td>
            </tr>
            <tr>
                <th>工事番号</th><td><%=@project.construction_number%></td>
            </tr>
            <tr>
                <th>時給</th><td><%=@project.wage%></td>
            </tr>
            <tr>
                <th>日付</th><td><%=@project.day%></td>
            </tr>
            </table>

        </div>

        <div class="col-md-8">
            <div class="kakomi-box3">
            <table class="table">
            <tr>
                <th>交通費</th><td><%= @driver_cost%>円</td><th>就労時間</th><td><%= @work_hour %>時間</td>
            </tr>
            <tr>
                <th>労務費</th><td><%= @work_cost %>円</td><th>外注費</th><td><%= @subcons_cost %>円</td>
            </tr>
            <tr>
                <th>部品</th><td><%= @parts_cost %></td><th>材料費・雑費</th><td><%= @material %>円</td>
            </tr>
            <tr>
                <th>管理費</th><td><%= @management_cost %>円</td><th></th><td></td>
            </tr>
            <tr>
                <th>就労時間</th>
                <% @piece_workers.each do |worker| %>
                    <td><%= worker[0] %>　<%= worker[1] %>時間</td>
                <% end %>
            </table>
            </div>
       </div>
    </div>
</div>

<br><br>

<%=link_to "編集", edit_project_url(@project.id)%><br>
<%=link_to "交通費一覧", drivers_url(:project_id => @project.id)%><br>
<%=link_to "労務費一覧", works_url(:project_id => @project.id)%><br>
<%=link_to "外注費一覧", subcons_url(:project_id => @project.id)%><br>
<%=link_to "部品一覧", parts_url(:project_id => @project.id)%><br>
