<div class="center">
<%= form_for @driver do |f| %>

    <%= f.label :driver_cost,"交通費:" %>
    <%= f.number_field :driver_cost %><br><br>

    <%= f.label :day,"日付:" %>
    <%= f.date_select :day %><br><br>
    
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
    <% if @driver.id.nil? %>
        <%= f.submit "追加" %>
    <% else %>
        <%= f.submit "修正" %>
    <% end %>
<% end %>
</div>